body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #22212C;
    display: grid;
    grid-template-areas: 
    "aside main"
    "footer footer";
    grid-template-rows: 1fr 40px;
    grid-template-columns: 450px 1fr;
    color: #837E9F
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul {
    list-style: none;
}

.box {
    background-color: #302F3D;
    height: auto;
    margin: 20px;
    border-radius: 1rem;
    border-radius: 5%;
    box-shadow: 5px 5px #1C1C1C;
    padding: 32px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
}

.module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(255, 0, 170), rgb(139, 16, 184));
    padding: 3px;
}

.profile h2 {
    margin-top: 30px;
}

.profile h3 {
    margin: 10px;
}

.info li{
    display: flex;
}

.info li p {
    padding-left: 20px;
}

.tecnologias .tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.tecnologias .tech li {
    background-color: #ba588e;
    color: black;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}