a {
    text-decoration: none;
    color: #837E9F;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #22212C;
    display: grid;
    grid-template-areas: 
    "aside main"
    "footer footer";
    grid-template-rows: 1fr 40px;
    grid-template-columns: 450px 1fr;
    color: #837E9F;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul {
    list-style: none;
}

h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    background-color: #302F3D;
    height: auto;
    margin: 20px;
    border-radius: 1rem;
    box-shadow: 5px 5px #1C1C1C;
    padding: 32px;
}

.box:hover {
    transition: 0.3s;
    transform: scale(1.03);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    transition: 0.3s;
}

.profile img:hover{
    transform: scale(1.1);
}

.module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(255, 0, 170), rgb(139, 16, 184));
    padding: 3px;
}

.profile h2 {
    margin-top: 30px;
}

.profile h3 {
    margin: 10px;
}

.info li{
    display: flex;
}

.info li p {
    padding-left: 20px;
}

.info a {
    text-decoration: none;
    color: #837E9F;
}

.tecnologias .tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.tecnologias .tech li {
    background-color: #ba588e;
    color: black;
    margin: 10px;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.tecnologias .tech li:hover {
    transition: 0.3s;
    transform: scale(1.1);
    opacity: 1.1;
}

.experiencia {
    margin: 20px 25px;
    display: flex;
    gap: 15px;
    justify-content: baseline;
}

.sub {
    margin: 0;
}

.title {
    font-size: 22px;
}

.about {
   margin: 20px 30px; 
}


.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project {
    margin: 0;
}

.project-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 15px;
}

.project p {
    height: 80px;
    display: flex;
    align-items: center;
}

.language {
    float: right;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
}

.curso {
    margin: 20px 0;
}


.box .teste {
    width: 300px;
    height: 200px;
    background-color: red;
    transform: 3s;
}

.box.teste:hover {
    transform: rotateY(180deg);
}